@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.btn-gradient {
  background: linear-gradient(135deg, #F39519 0%, #FFCD67 100%);
}

.link-gradient {
  background: linear-gradient(91.41deg, #FFAD98 0%, #DF5532 100%);
}